/* ***** global start **** */

.btn{
  font-size: .75rem;
  font-weight: 700;
  height: 3rem;
  line-height: 3rem;
  width: 11.5625rem;
  letter-spacing: 5px;
  cursor: pointer;
}

.container{
  max-width: 69.375rem;
  margin-left: auto;
  margin-right: auto;
}

.cta{
  color: var(--whitish);
  background-color: var(--orange-red);
  transition: background-color .3s ease-in-out;
}

.cta:hover{
  background-color: var(--blue-dark);
}

h1{
  margin-top: 1.75rem;
  color: var(--blue-dark);
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 800;
}

h2{
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--orange-soft);
}

h3{
  font-size: 1.125rem;
  line-height: 2;
}

@media (min-width: 48rem) {
    h1{
      margin-top: 2rem;
      font-size: 3.75rem;
    }

    h2{
      font-size: 1.875rem;
      line-height: 1.7;
    }

    h3{
      font-size: 1.25rem;
    }
}



/* ***** global end **** */

/* ***** header start **** */

.header{
  position: sticky;
  top: 0;
  height: 4.375rem;
  margin-bottom: 1.1875rem;
  padding-top: 1rem;
  background-color: var(--whitish);
}

.header .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  line-height: 0;
  height: 1.875rem;
}

.nav-main a{
  font-size: .9375rem;
  text-decoration: none;
  color: var(--blue-grayish);
  transition: color .3s ease-in-out;
}

.nav-main a:not(:last-child){
  margin-right: 2.5rem;
}

.nav-main a:hover{
  color: var(--orange-red);
}

#mobileMenu{
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue-dark-alpha);
  visibility: hidden;
  opacity: 0;
  transition: 
    visibility .3s ease-in-out,
    opacity .3s ease-in-out;
}

#mobileMenu.open{
  visibility: visible;
  opacity: 1;
}

#mobileMenu.open .nav-mobile{
  transform: translateX(calc(100vw - 16rem));
}

.nav-mobile {
  position: absolute;
  transform: translateX(100vw);
  width: 16rem;
  height: 100vh;
  padding: 1rem;
  background-color: var(--whitish);
  transition: transform .3s ease-in-out;
}

.nav-mobile img{
  position: absolute;
  right: .6875rem;
  margin-top: .6875rem;
  margin-left: auto;
  margin-right: 0;
}

.nav-mobile a{
  text-decoration: none;
  font-size: .9375rem;
  color: var(--blue-grayish);
  display: block;
  margin-left: .5rem;
  line-height: 3.2;
}

.nav-mobile a:first-of-type{
  margin-top: 8.25rem;
}

@media (min-width: 48rem) {
  .header{
    height: 9.375rem;
    margin-bottom: 2.1875rem;
    padding-top: 4.375rem;
  }

  .logo{
    height: 2.5rem;
  }
}

/* ***** header end **** */

/* ***** headline start **** */
.banner img{
  width: 100%;
  height: auto;
}

.text-main{
  margin-top: .9375rem;
  font-size: .9375rem;
  line-height: 1.5;
  color: var(--blue-grayish);
}

.headline .btn{
  margin-top: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.headline{
  margin-bottom: 6rem;
}


@media (min-width: 48rem) {
  .headline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 3rem;
    column-gap: .9375rem;
    
  }

  .banner{
    grid-column: 1 / 3;
  }

  .headline h1{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .text-main{
    margin-top: 2rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .headline .btn{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
  }

}

/* ***** headline end **** */

/* ***** aside start **** */
.aside{
  padding: 1.375rem;
  margin-bottom: 4rem;
  background-color: var(--blue-dark);
  color: var(--whitish);
}

.news{
  padding: 1.6875rem 0;
  border-bottom: thin solid var(--blue-grayish);
}

.news:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.news p{
  font-size: .9375rem;
  line-height: 1.8;
}

@media (min-width: 48rem) {
    .aside{
      padding: 1.875rem 1.5625rem;
    }
}

/* ***** aside end **** */

/* ***** related start **** */

.related-link{
  display: block;
  margin-bottom: 2.125rem;
  overflow: hidden;
  text-decoration: none;
}

.related-link figure{
  display: flex;
}

.related-link img{
  width: 100px;
  margin-right: 1.5rem;
}

.related-link span{
  margin-bottom: .375rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--grey);
}

.related-link h4{
  font-size: 1.125rem;
  line-height: 2.3;
  color: var(--blue-dark);
}

.related-link p{
  color: var(--blue-grayish);
  font-size: .9375rem;
  line-height: 1.6;
}

@media (min-width: 48rem) {
  .related{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/* ***** related end **** */

/* ***** grid start **** */
@media (min-width: 48rem) {
    .grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.875rem;
      row-gap: 4.5rem;
    }

    .headline, .aside, .related-link{
      margin-bottom: 0;
    }

    .headline{
      grid-column: 1 / 3;
    }

    .aside{
      grid-column: 1 / 2;
    }

    .related{
      grid-column: 2 / 3;
    }
} 
/* ***** grid end **** */

/* ***** footer start **** */
.attribution{
  padding: 2.875rem 0 1rem;
  color: var(--blue-grayish);
  text-align: center;
}

.attribution a{
  text-decoration: none;
  color: var(--blue-dark);
  font-weight: 700;
}

/* ***** footer end **** */