:root{
  /* Colors */
  --blue-grayish: rgb(93, 95, 121);
  --blue-dark: rgb(0, 0, 26);
  --blue-dark-alpha: rgba(0, 0, 26, 0.3);
  --grey: rgb(197, 198, 206);
  --orange-soft: rgb(233, 171, 83);
  --orange-red: rgb(241, 94, 80);
  --whitish: rgb(255, 253, 250);

  /* Fonts */
  --font-main: 'Inter', sans-serif;
}

html{
  box-sizing: border-box;
  padding: 0 1rem;
  font-family: var(--font-main);
  background-color: var(--whitish);
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
